.Hero {
    display: flex;
    height: auto; 
    margin-top: 0px;
    align-items: center;
}

.background {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    align-items: center;}

.background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.1); /* 白色背景，50% 透明度 */
    z-index: 1;
}
