.Hero {
    display: flex;
    height: 100vh; 
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    background-image: url('/CISD-BG.jpg');
    background-size: cover;
    background-position: center center; 
}

.Hero::before {
    content: "";
    height: 100%; 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.2); /* white filter */
    z-index: 1;
}
